<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <div class="text-left">
        <h2 class="font-semibold tracking-wide font-serifpro text-licorice text-center text-2xl md:text-3xl lg:text-4xl">
            Find Recipes
        </h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-5">
        <div class="w-full transparent p-12 flex flex-col justify-center items-center">
            <div class="">
                <img class="object-center object-cover  h-24 w-24" src="../../assets/images/english-breakfast.png" alt="Breakfast">
            </div>
            <div class="text-center mt-8">
                <p class="text-xl text-licorise font-semibold">
                    Breakfast
                </p>
            </div>
        </div>
        <div class="w-full transparent p-12 flex flex-col justify-center items-center">
            <div class="">
                <img class="object-center object-cover  h-24 w-24" src="../../assets/images/food.png" alt="Breakfast">
            </div>
            <div class="text-center mt-8">
                <p class="text-xl text-licorise font-semibold">
                    Mains
                </p>
            </div>
        </div>
        <div class="w-full transparent p-12 flex flex-col justify-center items-center">
            <div class="">
                <img class="object-center object-cover  h-24 w-24" src="../../assets/images/dessert.png" alt="Breakfast">
            </div>
            <div class="text-center mt-8">
                <p class="text-xl text-licorise font-semibold">
                    Desserts
                </p>
            </div>
        </div>
        <div class="w-full transparent p-12 flex flex-col justify-center items-center">
            <div class="">
                <img class="object-center object-cover  h-24 w-24" src="../../assets/images/vegan-food.png" alt="Breakfast">
            </div>
            <div class="text-center mt-8">
                <p class="text-xl text-licorise font-semibold">
                    Plant Based 
                </p>
            </div>
        </div>
        <div class="w-full transparent p-12 flex flex-col justify-center items-center">
            <div class="">
                <img class="object-center object-cover  h-24 w-24" src="../../assets/images/vegan-food.png" alt="Breakfast">
            </div>
            <div class="text-center mt-8">
                <p class="text-xl text-licorise font-semibold">
                    Drinks 
                </p>
            </div>
        </div>
    </div>
</section>