<app-navigation></app-navigation>
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <div class="text-left">
        <h2 class="font-semibold tracking-wide font-serifpro text-licorice text-center text-2xl md:text-left md:text-3xl lg:text-4xl">
            New Recipes
        </h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 mt-16">
        <div class="w-full bg-rice rounded-lg border-2 border-olive overflow-hidden flex flex-col justify-center items-center">
            <div>
                <img src="https://ucarecdn.com/7e454bdc-b2ae-42ba-96b4-66cd66c69435/-/scale_crop/800x600/center/d5fdcccb4017f457b04c8cb7048a78c0.jpg" alt="Beef Brisket Noodle Soup" class="object-center object-cover h-auto w-full">
            </div>
            <div class="text-center py-8 sm:py-6">
                <p class="text-xl text-olive font-semibold mb-2 font-serifpro">
                    Beef Brisket Noodle Soup
                </p>
            </div>
            <div class="relative mt-2 bottom-o mb-4 lg:block">
                <span class=" text-left text-sm uppercase font-semibold">
                    Breakfast &mdash; 59 minutes
                </span>
            </div>
        </div>
        <div class="w-full bg-rice rounded-lg border-2 border-olive overflow-hidden flex flex-col justify-center items-center">
            <div>
                <img src="https://ucarecdn.com/7e454bdc-b2ae-42ba-96b4-66cd66c69435/-/scale_crop/800x600/center/d5fdcccb4017f457b04c8cb7048a78c0.jpg" alt="Beef Brisket Noodle Soup" class="object-center object-cover h-auto w-full">
            </div>
            <div class="text-center py-8 sm:py-6">
                <p class="text-xl text-olive font-semibold mb-2 font-serifpro">
                    Beef Brisket Noodle Soup
                </p>
            </div>
            <div class="relative mt-2 bottom-o mb-4 lg:block">
                <span class=" text-left text-sm uppercase font-semibold">
                    Breakfast &mdash; 59 minutes
                </span>
            </div>
        </div>
        <div class="w-full bg-rice rounded-lg border-2 border-olive overflow-hidden flex flex-col justify-center items-center">
            <div>
                <img src="https://ucarecdn.com/7e454bdc-b2ae-42ba-96b4-66cd66c69435/-/scale_crop/800x600/center/d5fdcccb4017f457b04c8cb7048a78c0.jpg" alt="Beef Brisket Noodle Soup" class="object-center object-cover h-auto w-full">
            </div>
            <div class="text-center py-8 sm:py-6">
                <p class="text-xl text-olive font-semibold mb-2 font-serifpro">
                    Beef Brisket Noodle Soup
                </p>
            </div>
            <div class="relative mt-2 bottom-o mb-4 lg:block">
                <span class=" text-left text-sm uppercase font-semibold">
                    Breakfast &mdash; 59 minutes
                </span>
            </div>
        </div>
        <div class="w-full bg-rice rounded-lg border-2 border-olive overflow-hidden flex flex-col justify-center items-center">
            <div>
                <img src="https://ucarecdn.com/7e454bdc-b2ae-42ba-96b4-66cd66c69435/-/scale_crop/800x600/center/d5fdcccb4017f457b04c8cb7048a78c0.jpg" alt="Beef Brisket Noodle Soup" class="object-center object-cover h-auto w-full">
            </div>
            <div class="text-center py-8 sm:py-6">
                <p class="text-xl text-olive font-semibold mb-2 font-serifpro">
                    Beef Brisket Noodle Soup
                </p>
            </div>
            <div class="relative mt-2 bottom-o mb-4 lg:block">
                <span class=" text-left text-sm uppercase font-semibold">
                    Breakfast &mdash; 59 minutes
                </span>
            </div>
        </div>
    </div>
</section>