<div id="logincover" class="min-h-screen blur-3xl bg-blend-overlay flex justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center">
    <div class="absolute bg-licorise opacity-60 inset-0 z-0"></div>
    <div class="max-w-md w-full space-y-8 p-10 bg-rice rounded-xl  border-olive border-2 z-10">
        <div class="text-center">
            <h2 class="mt-6 font-serifpro tracking-wider text-3xl font-semibold text-honey">
                Spoonapi
            </h2>
            <p class="mt-2 text-sm text-mackerel">Reset your password</p>
        </div>
        <form method="post" class="mt-8 space-y-6">
            <input type="hidden" name="remember" value="true">
            <div class="mb-6">
                <label for="email" class="mr-4 text-licorise font-semibold inline-block mb-2">
                    Email
                </label>
                <input type="email" placeholder="someone@example.com" class="border focus:border-opacity-0 bg-oyster py-2 px-4 w-96 outline-none rounded-lg focus:ring focus:ring-olive">
            </div>

            <div>
                <button class="w-full mt-6 text-rice text-center font-bold bg-honey py-3 rounded-md hover:bg-olive transition duration-300">Sign in</button>
            </div>
           
            <p class="flex flex-col items-center justify-center mt-10 text-center text-md text-licorice">
				<span>Already has an account?</span>
				<a routerLink="/login" class="text-honey hover:text-pumpkin no-underline hover:underline cursor-pointer transition ease-in duration-300">Sign in</a>
			</p>
        </form> 
    </div>
</div>